// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alb-sho {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    // max-width: 100%;
    width: 1000px;
    // border: 1px solid blue;
}

.songs-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    // margin-left: 100px;
    justify-content: flex-start;
    max-width: 100%;
    // border: 1px solid red;
}

.songs-list li {
    font-family: "Circular";
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.songtitle {
    margin-top: 5px;
}

.note-img {
    height: 30px;
    width: 30px;
}

// .note-img:after {
//     content: url(image/play_white.png);
//     display: block;
// }

// .note-img:hover{
//     background-image: image-url('https://dotify-app-dev.s3-us-west-1.amazonaws.com/play_white.png');
//     background-repeat: no-repeat;
// }

.song-row {
    display: flex;
    flex-direction: row;
}

#song-title {
    display: flex;
    // margin-bottom: 10px;
    font-size: 16px;
    // padding: 5px;
}

.times{
    // display: flex;
    flex-direction: row;
}

#song-duration {
    flex-direction: row;
    // display: inline-flex;
    margin-left: 600px;
}
// #song-title {

// }

#art-name{
    color: #b3b3b3;
    margin-bottom: 10px;
}


.album-show {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 50px;
    margin-top: 10px;
    justify-content: center;
    height: 20%;
    // margin-top: 50px;
}

.album-show h2 {
    font-family: "Circular Bold";
    font-size: 35px;
    margin: auto;
    text-align: center;
    // padding-bottom: 15px;
    // padding-top: 15px;
}

.album-show li {
    font-family: "Circular";
    font-size: 16px;
    margin: auto;
    color: #b3b3b3;
    // padding-top: 20px;
}

.play-btn {
     font-family: "Circular";
    letter-spacing: 0.2em;
    color: white;
    width: 100px;
    border: none;
    z-index: 1;
    padding: 10px;
    // margin-top: 20px;
    border-radius: 500px;
    background-color: #1DB954;
    transition: all .2s ease-in-out;
    margin: 20px auto;
    text-align: center;
}

.a-title {
    font-size: 16px;
}

.a-art {
    color: #fff;
    opacity: 0.6;
}

.a-art:hover {
    color: #fff;
    opacity: 1;
    text-decoration: underline;
}

.play-btn:hover {
    background-color: #1ED760;
    transform: scale(1.1);
}

.artist-hov:hover {
    color: white;
    border-bottom: 1px solid white;
}

.album-pics {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.album-pics img {
    flex-direction: row;
    height: 40px;
    width: 40px;
    margin-left: 7px;
    margin-top: 20px;
}

.albs {
    display: flex;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: "Circular";
    font-size: 14px;
}

.albs li {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#add-song-menu {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;
    padding-right: 30px;
}


.add-duration {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.add-song-bg {
  position: fixed;
  top: 10%;
  bottom: 0;
  right: 0;
  left: 80%;
  z-index: 20;
}


.add-song-dropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.contextMenu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #282828;
  width: 165px;
  height: 40px;
  z-index: 20;
  color: rgb(179, 179, 179);
  font-family: "Circular";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3px;
}

.contextMenu2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #282828;
  width: 205px;
  height: 80px;
  z-index: 20;
  color: rgb(179, 179, 179);
  font-family: "Circular";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3px;
}

.add-song-child {
    display: flex;
    position: absolute;
}

.add-song-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    // text-align: center;
    border-radius: 5px;
}

.rem-song-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    // text-align: center;
    border-radius: 5px;
}

.add-song-form h1{
    border: black;
    // width: 100%;
    padding: 3px 20px;
    line-height: 32px;
}

.rem-song-form h1{
    border: black;
    // width: 100%;
    padding: 3px 20px;
    line-height: 32px;
}

.add-song-form h1:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
    text-decoration: none;
    width: 87%;
}

.rem-song-form h1:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
    text-decoration: none;
    width: 87%;
}

#context-cancel {
    z-index: 1;
    border-radius: 500px;
    // padding: 12px 38px 12px;
    // background-color: rgba(24, 24, 24, 0.7);
    // border: 1px solid #b3b3b3;
    font-size: 12px;
    height: 20px;
    width: 20px;
    letter-spacing: 0.2em;
    // color: #b3b3b3;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

