// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-index {
    display: flex;
    flex-direction: row;
}
.img-crop {
    display: flex;
    flex-direction: row;
    font-family: "Circular";
    text-align: center;
}

.img-crop > div{
    max-height: 150px;
    max-width: 150px;
    padding: 50px;
}

.img-crop > div:hover {
    opacity: 0.4;
}

#show-img {
    object-fit: cover;
    display: flex;
    // width: 240px;
    // height: 240px;
    width: 350px;
    height: 350px;
    flex-direction: row;
    // padding-bottom: 10px;
    box-shadow: 1px 1px 30px 0px #171b2a;
    opacity: 1;
    transition-timing-function: cubic-bezier(.3,0,.4,1);
    transition-property: filter,-webkit-filter;
    transition: opacity 0.05s ease-in-out;

    // background: url(music_note.jpg) no-repeat scroll 0 0;

    // &:before {
    // content: '';
    // // position: absolute;
    // height: 100%;
    // width: 100%;
    // top: 0;
    // left: 0;
    // background-image: url(https://dotify-app-dev.s3-us-west-1.amazonaws.com/play_circle_white.png);
    // opacity: 0;
    // transition: opacity 0.3s ease-in-out;
    // }  

    // &:hover {
    // #show-img {
    //    &:before {
    //       opacity: .5;
    //    }
    //    &:after {
    //       opacity: 0.6;
    //    }
    // }
    // }
}

#show-img:hover {
    // opacity: 0.2;
    // background-image: url(https://dotify-app-dev.s3-us-west-1.amazonaws.com/play_circle_white.png) no-repeat scroll 0 0;
}

#cover-img {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
    flex-direction: row;
    // padding-bottom: 10px;
    transition-timing-function: cubic-bezier(.3,0,.4,1);
    box-shadow: 0px 0px 30px 0px #171b2a;
    opacity: 1;
    transition-property: filter,-webkit-filter;
    transition: opacity 0.05s ease-in-out;

    // background-image: url(music_note.jpg) no-repeat scroll 0 0;

    // &:before {
    // content: '';
    // // position: absolute;
    // height: 100%;
    // width: 100%;
    // top: 0;
    // left: 0;
    // // background-image: url(https://dotify-app-dev.s3-us-west-1.amazonaws.com/play_circle_white.png);
    // opacity: 0;
    // transition: opacity 0.3s ease-in-out;
    // }  

    &:hover {
    #cover-img {
    //    &:before {
    //       opacity: .5;
    //    }
    //    &:after {
    //       opacity: 0.6;
    //    }
    }
    }
}

#cover-img:hover {
    opacity: 0.2;
    // background-image: url(https://dotify-app-dev.s3-us-west-1.amazonaws.com/play_circle_white.png) no-repeat scroll 0 0;
}

.art-ind img {
    border-radius: 50%;
}

// .artist-show-bg img{
//     height: 300px;
//     width: 100vh;
//     max-width: 100%;
// }

.artist-header img {
    height: 300px;
}

.artist-show {
    display: flex;
    font-family: "Circular";
    // max-width: 100%;
    // flex-direction: column;
    // justify-items: center;
    // align-items: center;
    // text-align: center;
    // font-family: "Circular Bold";
    // padding-top: 10px;
    // padding-left: 100px;
    width: 1000px;
    margin: auto;
    // border: 1px solid blue;
    // min-width: 100%;
    margin-bottom: 50px;;

}

.art-sho {
    max-width: 100%;
    padding: 20px;
    // margin-right: 700px;
}

.art-sho h3 {
    font-size: 36px;
    font-family: "Circular Bold"
}

.bg-img{
    height: 150px;
    width: 150px;
    margin: auto;
}
.artist-header {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
}

.artist-header h2 {
    margin: auto;
    font-family: "Circular Bold";
}



// .art-song li {
//     flex-direction: row;
// }

// #duration {
//     margin-left: 600px;
//     justify-content: flex-end;
// }

#art-note {
    height: 30px;
    width: 30px;
}

.artist-show h2 {
    font-size: 70px;
    // text-align: center;
}

.art-ind {
     display: inline-block;
  position: relative;
  // flex-wrap: wrap;
  flex-direction: column;
  // float: left;
  text-align: center;
  padding: 15px;
  font-family: "Circular";
  font-size: 14px;
  list-style: none;
  padding: 15px;
  margin-left: 50px;
}

.art-ind .art-on-hov {
    display: none;
    position: absolute;
    top: 29%;
    left: 33%;
    z-index: 100;
  }

  .art-ind:hover .art-on-hov {
    display: inline;
  }

  .art-on-hov {
    // opacity: 0.6;
    height: 80px;
    width: 80px;
    background: opacity($color: 0.6);
    transition: all .2s ease-in-out;
  }
  .art-on-hov:hover {
    // opacity: 1;
    transform: scale(1.1);
    // background: opacify($color: #000000, $amount: 0.2)
  }

// .art-ind li {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 100%;
//   align-items: center;
// }

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    // width: 400px;
}

.art-song {
     display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Circular";
  font-size: 16px;
  color: #b3b3b3;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  padding-bottom: .7em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    width: 1500px;
}

.art-song2 {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Circular";
  font-size: 16px;
  color: #b3b3b3;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  padding-bottom: .7em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    width: 1500px;
}

.art-song2:hover, .art-song2:focus {
    background-color: rgba(0, 0, 0, .3);
}

.alb-info2 {
    display: inline-block;
  position: relative;
  // flex-wrap: wrap;
  flex-direction: column;
  // float: left;
  text-align: center;
  padding: 15px;
  font-family: "Circular";
  font-size: 14px;
  list-style: none;
  padding: 15px;
//   margin-left: 50px;
}


.alb-info2 .sho-on-hov {
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 100;
  }

  .alb-info2:hover .sho-on-hov {
    display: inline;
  }

  .sho-on-hov {
    width: 20px;
    height: 1px;
    transition: all .2s ease-in-out;
  }

  .sho-on-hov:hover {
    transform: scale(1.1);
  }

.albs3 {
    display: inline-block;
    flex-direction: row;
    width: 100%;
}

.albs3 img {
    margin-right: 20px;
}

.track5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tracks6 {
    width: 100%;
}

#art-img {
    display: flex;
}

#art-img2 {
    position: absolute;
  object-fit: cover;
    background: linear-gradient(to bottom, transparent -30%, #121212);
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}