// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-index {
    display: flex;
    flex-direction: row;
}
.img-crop {
    display: flex;
    flex-direction: row;
    font-family: "Circular";
    text-align: center;
}

.img-crop > div{
    max-height: 150px;
    max-width: 150px;
    padding: 50px;
}

.img-crop > div:hover {
    opacity: 0.4;
}

img {
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
    flex-direction: row;
    padding-bottom: 10px;
    background: url(music_note.jpg) no-repeat scroll 0 0;
}

img:hover {
    opacity: 0.2;
}

.art-ind img {
    border-radius: 50%;
}

// .artist-show-bg img{
//     height: 300px;
//     width: 100vh;
//     max-width: 100%;
// }

.artist-header img {
    height: 300px;
}

.artist-show {
    display: flex;
    font-family: "Circular";
    // max-width: 100%;
    // flex-direction: column;
    // justify-items: center;
    // align-items: center;
    // text-align: center;
    // font-family: "Circular Bold";
    // padding-top: 10px;
    // padding-left: 100px;
    width: 1000px;
    margin: auto;
    border: 1px solid blue;
    // min-width: 100%;
    margin-bottom: 50px;;

}

.art-sho {
    width: 100%;
    // margin-right: 700px;
}

.art-sho h3 {
    font-size: 30px;
}

.bg-img{
    height: 150px;
    width: 150px;
    margin: auto;
}
.artist-header {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
}

.artist-header h2 {
    margin: auto;
    font-family: "Circular Bold";
}



// .art-song li {
//     flex-direction: row;
// }

// #duration {
//     margin-left: 600px;
//     justify-content: flex-end;
// }

#art-note {
    height: 30px;
    width: 30px;
}

// .artist-show h2 {
//     font-size: 70px;
//     // text-align: center;
// }

.art-ind {
    display: flex;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: "Circular";
    font-size: 14px;
}

.art-ind li {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.parent {
    display: flex;
    flex-direction: row;
}

.art-song {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 1px red solid;
    width: 100%;
    // justify-content: space-evenly;
    // width: 100%;
}