// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-index {
    display: flex;
    flex-direction: row;
}
.img-crop {
    display: flex;
    flex-direction: row;
    font-family: "Circular";
    text-align: center;
}

.img-crop > div{
    max-height: 150px;
    max-width: 150px;
    padding: 50px;
}

.img-crop > div:hover {
    opacity: 0.4;
}

img {
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
    flex-direction: row;
    border-radius: 50%;
    padding-bottom: 10px;
}

.artist-show {
    display: flex;
    // flex-direction: column;
    // justify-items: center;
    // align-items: center;
    // margin: auto;
}

.artist-header {
    list-style: none;
    display: flex;
    width: 100vmax;
    flex-direction: column;
    margin: auto;
}

.artist-header h2 {
    margin: auto;
}


.artist-show h2 {
    font-family: "Circular Bold";
    font-size: 50px;
    // text-align: center;
}
