// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}


.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
    color: white;
    font-family: "Circular Bold";
    display: flex;
    flex-direction: column;
}

.playlist-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #272727;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  margin-top: 100px;
  left: 50%;
}

.field {
    font-size: 50px;
}

#playlist-mod {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  font-size: 50px;
}

.modal-cancel {
  background: none;
  border: none;
  z-index: 10;
  height: 60px;
  width: 60px;
  margin-left: 290px;
  transition: all .2s ease-in-out;
}

.modal-cancel:hover {
    transform: scale(1.1);
}

.playlist-form {
    text-align: center;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.yesplay {
  font-family: "Circular";
   z-index: 1;
    border-radius: 500px;
    padding: 12px 38px 12px;
    background-color: #1DB954;
    border: 0px;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: white;
    margin: 15px;
    margin-top: 20px;
}

.canc-play {
  font-family: "Circular";
   z-index: 1;
    border-radius: 500px;
    padding: 12px 38px 12px;
    background-color: rgba(24, 24, 24, 0.7);
    border: 1px solid #b3b3b3;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #b3b3b3;
    margin: 15px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

.yesplay:hover {
    transform: scale(1.1);
    // padding: 12px 40px 12px;
    background-color: #1ED760;
}

.canc-play:hover {
    transform: scale(1.1);
    // padding: 12px 40px 12px;
}

.new-playlist-btn {
    // margin-top: 30px;
    font-family: "Circular";
    letter-spacing: 0.2em;
    color: white;
    border: none;
    z-index: 1;
    border-radius: 500px;
    padding: 10px 23px 10px;
    background-color: #1DB954;
    transition: all .2s ease-in-out;
}

.new-playlist-btn:hover {
    background-color: #1ED760;
    transform: scale(1.1);
}

.create-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.playlist-link {
  display: flex;
  flex-direction: row;
}