// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 120;
}


.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
    color: white;
    font-family: "Circular Bold";
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.playlist-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #272727;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 150px;
  margin-top: 100px;
  left: 50%;
  caret-color: #1DB954;
}

.field {
    font-size: 50px;
}

#playlist-mod {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  font-size: 50px;
}

#modal-cancel {
  background: none;
  border: none;
  z-index: 10;
  height: 60px;
  width: 60px;
  margin: auto;
  // margin-left: 290px;
  transition: all .2s ease-in-out;
}

#modal-cancel:hover {
    transform: scale(1.1);
    color: #fff !important;
}

.playlist-form {
    text-align: center;
}

.playlist-form h2 {
  font-size: 72px;
  font-family: "Circular Bold";
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 250px;
    margin: auto;
}

.modal-buttons button {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.yesplay {
  font-family: "Circular";
   z-index: 1;
    border-radius: 500px;
    padding: 12px 38px 12px;
    background-color: #1DB954;
    border: 0px;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: white;
    margin-top: 20px;
    // margin-left: 25px;
    // margin-right: 5px;
  }
  
  .canc-play {
    font-family: "Circular";
    z-index: 1;
    border-radius: 500px;
    padding: 12px 38px 12px;
    background-color: rgba(24, 24, 24, 0.7);
    border: 1px solid #b3b3b3;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #b3b3b3;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    // margin-left: 25px;
    // margin-right: 25px;
}

.yesplay:hover {
    transform: scale(1.1);
    // padding: 12px 40px 12px;
    background-color: #1ED760;
}

.canc-play:hover {
    transform: scale(1.1);
    // padding: 12px 40px 12px;
}

.new-playlist-btn {
    // margin-top: 30px;
    font-family: "Circular";
    letter-spacing: 0.2em;
    color: white;
    border: none;
    z-index: 1;
    border-radius: 500px;
    padding: 10px 23px 10px;
    background-color: #1DB954;
    transition: all .2s ease-in-out;
}

.new-playlist-btn:hover {
    background-color: #1ED760;
    transform: scale(1.1);
}

.create-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.playlist-index {
  padding-left: 40px;
}

.playlist-link {
  display: inline-block;
  position: relative;
  // flex-wrap: wrap;
  flex-direction: column;
  // float: left;
  text-align: center;
  padding: 5px;
  font-family: "Circular";
  font-size: 14px;
  list-style: none;
  padding: 15px;
}


 .playlist-link .play-on-hov {
    display: none;
    position: absolute;
    top: 25%;
    left: 33%;
    z-index: 100;
  }

  .playlist-link:hover .play-on-hov {
    display: inline;
  }

  .play-on-hov {
    // opacity: 0.6;
    height: 80px;
    width: 80px;
    transition: all .2s ease-in-out;
  }
  .play-on-hov:hover {
    // opacity: 1;
    transform: scale(1.1);
    // background: opacify($color: #000000, $amount: 0.2)
  }
 .playlist-link .add-on-hov {
    display: none;
    position: absolute;
    top: 29%;
    left: 33%;
    z-index: 100;
  }

  .playlist-link:hover .add-on-hov {
    display: inline;
  }

  .add-on-hov {
    // opacity: 0.6;
    font-size: 50px;
    height: 80px;
    width: 80px;
    transition: all .2s ease-in-out;
  }
  .add-on-hov:hover {
    // opacity: 1;
    transform: scale(1.1);
    // background: opacify($color: #000000, $amount: 0.2)
  }
 .playlist-link .spoticon-add-to-playlist-32 {
    display: none;
    position: absolute;
    top: 29%;
    left: 33%;
    z-index: 100;
  }

  .playlist-link:hover .spoticon-add-to-playlist-32 {
    display: inline;
  }

  .spoticon-add-to-playlist-32 {
    // opacity: 0.6;
    font-size: 50px;
    height: 80px;
    width: 80px;
    transition: all .2s ease-in-out;
  }
  .spoticon-add-to-playlist-32:hover {
    // opacity: 1;
    transform: scale(1.1);
    // background: opacify($color: #000000, $amount: 0.2)
  }

  

.p-title {
    font-family: "Circular";
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
//     padding-bottom: 15px;
//     padding-top: 15px;
}

.p-creator{
  font-family: "Circular";
  color: #fff;
  opacity: .6;
}

.playlist-link li {
  display: flex;
  flex-direction: column;
  // margin-top: 10px;
}

.playlist-form h1 {
  font-size: 45px;
}

.play-show {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 50px;
  // margin: auto;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  // justify-content: space-evenly;
  // text-align: center;
}

.play-show-div {
  display: flex;
  flex-direction: row;
  list-style: none;
  // padding: 50px;
  // margin: auto;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;

}

.classyes {
  display: flex;
}

.classno {
  display: none;
}

.alert {
  position: fixed;
  bottom: 20%;
  font-family: "Circular";
  font-size: 15px;
  background-color:#579bea;
  border-radius: 3%;
  padding: 5px;
  width: 300px;
  text-align: center;
  margin-left: 20%;
  color: white;
}

.play-show1 {
  text-align: center;
}

.play-show1 li {
  font-family: "Circular";
  font-size: 16px;
  color: #b3b3b3;
}

.play-show2 {
  margin-left: 100px;
  align-items: center;
  text-align: center;
  // width: 100vw;
}

.div-margin {
  width: 100%;
  z-index: 10;
}


.playshowimg {
  height: 150px;
  width: 150px;
}

.play-show h2 {
  font-family: "Circular Bold";
  font-size: 40px;
}

// .play-show2 li {
//   // text-align: center;
//   width: 718px;
//   font-family: "Circular";
//   font-size: 16px;
//   color: #b3b3b3;
// }

.play-show3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  // width: 1200px;
  font-family: "Circular";
  font-size: 16px;
  color: #b3b3b3;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  padding-bottom: .7em;
    padding-right: 0.7em;
    padding-left: 0.7em;

}


.play-show3:hover, .play-show3:focus {
    background-color: rgba(0, 0, 0, .3);
}

.play-show4 {
  display: flex;
  flex-direction: row;
  font-family: "Circular";
  font-size: 16px;
  color: white;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 50%;
  font-family: "Circular";
  font-size: 16px;
  color: white;
  padding-top: 10px;
  height: 45px;
  align-items: center;
}

.song-info li{
  display: flex;
  margin-top: 3px;
  justify-content: flex-start;
}

#song-name{
   font-size: 16px;
  font-family: "Circular";
}

.alb-art {
  font-size: 14px;
  font-family: "Circular";
  display: flex;
  justify-content: flex-start;
}

.alb-art li span{
  padding-right: 5px;
  opacity: 0.6;
}

.alb-art li span:hover {
  opacity: 0.99;
  text-decoration: underline;
  color: #fff;
}

.sep {
  font-size: .6em;
  opacity: 0.6;
  align-items: center;
  padding-right: 5px;
}

.playsongs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 600px;
  width: 600px;
  font-family: "Circular";
  font-size: 16px;
  color: #b3b3b3;
  align-items: center;
  padding-bottom: .7em;
  padding-right: 0.7em;
  padding-left: 0.7em;
}

.song-count {
  font-size: 11px;
  font-family: "Circular";
  color: #b3b3b3;
  margin: auto;
  letter-spacing: 0.2em;

}

#art-note {
  padding-right: 8px;
  display: flex;
  margin-bottom: 15px;
}

// .playsongs li {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   height: 60px;
// }

.err {
  color: red;
}

.delete-btn-play-show {
  font-family: "Circular";
    letter-spacing: 0.2em;
    color: white;
    width: 100px;
    border: none;
    z-index: 1;
    padding:10px;
    // margin-top: 20px;
    border-radius: 500px;
    background-color: #1DB954;
    transition: all .2s ease-in-out;
    margin: 5px auto;
    margin-bottom: 10px;
    text-align: center;
  }

  .delete-btn-play-show:hover {
    background-color: #1ED760;
    transform: scale(1.1);
  }


  #close-play {
    height: 32px;
    width: 32px;
    margin: auto;
    margin-bottom: 40px;
    transition: all .2s ease-in-out;

  }

  #close-play:hover {
    transform: scale(1.1);
  }

  .play-child {
    margin-top: 40px;
  }

  .yassplay {
    font-family: "Circular";
    z-index: 1;
    border-radius: 500px;
    padding: 9px 22px;
    background-color: #1DB954;
    border: 0px;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: white;
    margin-top: 20px;
  }

  .yassplay:hover {
    transform: scale(1.1);
    // padding: 12px 40px 12px;
    background-color: #1ED760;
}

.addtoplayul {
  margin: auto;
}

.btns-play-show {
  display: flex;
  flex-direction: column;
}

.play-style {
  font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 25px;
  }
  
  .play-titles {
    margin-left: 12px;
  }

  .list-of-playlists {
    letter-spacing: .10em;
    color: #b3b3b3;
  }

  .list-of-playlists li {
    padding-top: 10px;
    padding-left: 25px;
  }

  .list-of-playlists li:hover {
    color: white;
  }


  .newactive {
    color:white;
  }

//  .song-list 

// @media only screen   
// and (min-width: 1370px)  
// and (max-width: 1605px) {
//   .playsongs {
//     width: 1200px;
//   }

//   .play-show3 {
//     width: 1200px;
//   }
// }

@media (min-width: 1370px) {
    .playsongs {
      width: 1150px;
    }
  
    .play-show3 {
      width: 1150px;
    }
}

