// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-page {
  font-family: "Circular";
};

button#demo {
  font-family: "Circular";
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  padding: 4px;
  width: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  outline: none;
};

button#demo:hover {
  color: rgb(4, 167, 4);
};

.login-signup {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.5);
  height: 80px;
  position: fixed;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
};


.links {
  padding: 30px 70px;
  color: #D9DADC;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
}

.links > span {
  padding-left: 36px;
}

span:hover {
  color: #1ED760;
}