// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-page {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
};

.session-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.session-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

button#demo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  padding: 4px;
  width: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  outline: none;
};

button#demo:hover {
  color: rgb(4, 167, 4);
};

.login-signup {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.5);
  height: 80px;
  position: fixed;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
};


.links {
  padding-right: 70px;
  padding-top: 30px;
  color: #D9DADC;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
}

.links > span {
  padding-left: 36px;
}

span:hover {
  color: #1ED760;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: white;
  float: left;
  padding-top: 22px;
  padding-right: 800px;
  display: flex;
}

.title > span {
  height: 40px;
  width: 40px;
}

.header {
  padding-left: 2px;
  padding-top: 5px;
}

