/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a create file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Circular Bold";
  src: image-url('CircularStd-Bold.otf');
}

@font-face {
  font-family: "Circular";
  src: image-url('CircularStd-Book.otf');
}

@import 'splash.scss';
@import 'spoticon.scss';
@import 'music_player.scss';
@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');